*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: roboto;
    overflow-x: hidden;
}
.contact-container{
    width: 100%;
    /* position: relative; */
}

.navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 14px 20px;
   /* background-color: #333; */
}
.logoText{
    color: #ffae17;
    margin-left: 5px;
    font-family: 'montserrat';
    font-weight: 700;
}
.hotel{
    width: 50px;
}
.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.menu-toggle{
    flex-direction: column;
    display: none;
    cursor: pointer;
}
.menu-toggle .bar{
    width: 28px;
    height: 2.5px;
    background-color: white;
    margin: 2.5px 0;
    transition: 0.4s;
}
.nav{
    display: flex;
    list-style: none;
}
.nav-link{
    color: #fefefe;
    text-decoration: none;
    padding: 14px 20px;
    font-family: 'montserrat';
    font-weight: 500;
    transition: color 0.5s;
}
.nav-link:hover {
    background: #ffae17;
}

.list ul .color-active a{
    color: #ffae17;
}
.list ul .color-active a:hover{
    color: #fefefe;
}
.login{
    background: #ffae17;
    border: 1px solid #ffae17;
    padding: 4px 10px;
    color: #fefefe;
    font-size: 13px;
    border-radius: 4px;
    transition: background 0.5s;
    cursor: pointer;
    margin-right: 10px;
    font-family: 'montserrat';
    font-weight: 400;
    /* display: none; */
}
.login:hover{
    background: transparent;
    border: 1px solid #fefefe;
}
.register{
    background: transparent;
    border: 1px solid #ffae17;
    padding: 5px 10px;
    color: #fefefe;
    font-size: 13px;
    border-radius: 8px;
    transition: background 0.5s;
    cursor: pointer;
    font-family: 'montserrat';
    font-weight: 600;
    display: none;
}
.register:hover{
    background: #ffae17;
}
.login a{
    text-decoration: none;
    color: #fefefe;
}
.register a{
    text-decoration: none;
    color: #fefefe;
}

.image-contact{
    position: relative;
    background: linear-gradient(rgba(209, 202, 104, 0.712), rgba(0,0,0,0.7)), url(assets/room.jpg);
    top: -80px;
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.intouch-h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.in-touch{
    color: #fefefe;
    font-family: 'montserrat';
    font-weight: 600;
    font-size: 50px;
    text-align: center;
}
.contain{
    width: 80%;
   margin: auto;
   margin-top: 50px;
}

.icon-sec{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
}
.icon-sec .bg{
    background-color: #ffb8351c;
    border-radius: 50px;
    padding: 10px 20px;
}
.contain .ion-icons{
    display: flex;
    align-items: center;
} 
.ion-icons span{
    font-size: 50px;
    color: #ffae17d0;
}
.office-des{
    margin-left: 20px;
}
.office-des .office{
    color: #ffae17e1;
    font-size: 13px;
    font-size: 'Montserrat';
    font-weight: 500;
    letter-spacing: 0.3px;
}
.office-des .office-name{
    font-size: 16px;
    color: #222;
    font-family: 'montserrat';
}
.form{
    margin-top: 30px;
}
.request{
    font-size: 25px;
    font-family: 'montserrat';
    margin-bottom: 20px;
    text-align: center;
}

/* contact-form section------------- */
form {
    background-color: #ffb8351c;
    padding: 20px;
    border-radius: 10px;
    /* display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, minmax(250px, 1fr)); */
}
.form-desc{
    margin: 20px 20px;
    
}
label{
    font-size: 15px;
    font-family: 'montserrat';
}
input{
    background: #fcfbfb;
    border: none;
    outline: none;
    padding: 0 20px;
    font-family: 'montserrat';
    color: #222;
    font-weight: 400;
    letter-spacing: 0.7px;
    width: 100%;
    border-radius: 30px;
    height: 50px;
    margin-top: 5px;
    font-size: 16px;
}
textarea{
    background: #fcfbfb;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-family: 'montserrat';
    color: #222;
    font-weight: 400;
    letter-spacing: 0.7px;
    width: 100%;
    border-radius: 30px;
    height: 250px;
    margin-top: 5px;
    font-size: 16px;
}
.bbtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-submit{
    background: #ffae17;
    border: 1px solid #ffae17;
    padding: 8px 20px;
    color: #fefefe;
    font-size: 15px;
    border-radius: 8px;
    transition: background 0.5s;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 20px;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 500;
}
.btn-submit:hover{
    background-color: #fcfbfb;
    color: #ffae17;
}
.newsletter{
    margin: 30px 0;
}
.news-h4{
    font-size: 14px;
    font-family: 'montserrat';
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.news{
    background-color: #ebebeb;
    width: 300px;
    padding: 10px 15px;
    border-radius: 8px;
}
.get-notified{
    font-size: 14px;
    font-weight: 700;
    font-family: 'montserrat';
    margin-bottom: -10px;
}
.news-input{
    display: flex;
    align-items: center;
    background-color: #fefefe;
    border-radius: 25px;
    margin: 20px 0;
    padding: 5px 15px;
}
#email{
    background: none;
    height: 35px;
    width: 200px;
    margin-left: -10px;
}
#email::placeholder{
    font-family: 'montserrat';
    font-size: 12px;
}
.person{
    color: #666;
    font-size: 8px;
}
.send{
    background: #ffae17;
    border-radius: 50%;
    padding: 3px;
    text-align: center;
    color: #fefefe;
    cursor: pointer;
    transition: background 0.5s;
    
}
.send:hover{
    background: #666;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    padding: 20px;
}
.copyright{
    color: #fefefe;
    font-size: 14px;
    font-family: 'montserrat';
    font-weight: 400;
    text-align: center;
}
.dot{
    color: rgb(184, 157, 5);
    font-weight: 500;
}




/* ------------------------media-querrie------------ */


@media only screen and (max-width:900px) {
    .logoText{
        color: #ffae17;
        margin-left: 5px;
        font-family: 'montserrat';
        font-weight: 700;
        font-size: 25px;
    }
    .hotel{
        width: 30px;
    }
  
    .menu-toggle {
    display: flex;
   }
   .link{
    position: relative;
   }
   .nav{
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background: #333;
    position: fixed;
    top: 65px;
    left: 0;
    right: 0;
    height: 400px;
    z-index: 1;
    padding-top: 50px;
   }
   .nav li{
    margin-top: 30px;
   }
   .nav.showing{
    display: flex;
   }
   .nav-link {
    padding: 14px;
    border-top: 1px solid #444;
   }
   .change .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
   }
   .change .bar:nth-child(2) {
    opacity: 0;
   }
   .change .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
   }

   .in-touch{
    color: #fefefe;
    font-family: 'montserrat';
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    }

    .contain{
        width: 90%;
       margin: auto;
       margin-top: 30px;
    }
    
    .icon-sec{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .icon-sec .bg{
        background-color: #ffb8351c;
        border-radius: 50px;
        padding: 8px 20px;
    }
    .contain .ion-icons{
        display: flex;
        align-items: center;
    } 
    .ion-icons span{
        font-size: 30px;
        color: #ffae17d0;
    }
    .office-des{
        margin-left: 15px;
    }
}

@media only screen and (max-width:600px) {
    .in-touch{
        color: #fefefe;
        font-family: 'montserrat';
        font-weight: 600;
        font-size: 30px;
        text-align: center;
        }
}

@media screen and (max-width:480px) {
    textarea{
        background: #fcfbfb;
        border: none;
        outline: none;
        padding: 10px 20px;
        font-family: 'montserrat';
        color: #222;
        font-weight: 400;
        letter-spacing: 0.7px;
        width: 100%;
        border-radius: 20px;
        height: 250px;
        margin-top: 5px;
        font-size: 16px;
    }
    form {
        background-color: #ffb8351c;
        padding: 10px;
        border-radius: 10px;
        
    }
    .form-desc{
        margin: 0;
        
    }
    .request{
        font-size: 20px;
        font-family: 'montserrat';
        margin-bottom: 20px;
        text-align: center;
        margin-top: 20px;
    }
}