.login a{
    text-decoration: none;
    color: #fefefe;
}
.register a{
    text-decoration: none;
    color: #fefefe;
}
.form{
    width: 50%;
    margin: auto;
}
.input-fields{
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 20px;
}
.field-icon{
    position: absolute;
    left: 15px;
    color: rgba(255, 217, 0, 0.829);
}
.field-icon1{
    position: absolute;
    right: 15px;
    color: rgba(255, 217, 0, 0.822);
}
.fields{
    padding-left: 50px;
    padding-right: 50px;
}
.fields::placeholder{
    font-size: 13px;
    color: #888;
}
.forgot-pass{
    text-align: right;
    margin-top: 8px;
}
.forgot-pass a{
    font-size: 13px;
    text-decoration: none;
    transition: color 0.5s;
}
.forgot-pass a:hover{
    color: red;
}
.input-fields .fields-btn{
    margin: auto;
    width: 100%;
    color: rgb(19, 18, 18);

}
.forgot-acc{
    margin-top: 15px;
    font-size: 13px;
    text-align: center;
}
.input-fields-check{
    display: flex;
    align-items: center; 
    justify-content: center; 
}
.input-fields-check p{
    display: flex;
    align-items: center;
}
.input-fields-check a{
    text-decoration: none;
    font-size: 13px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    padding: 20px;
}
.copyright{
    color: #fefefe;
    font-size: 14px;
    font-family: 'montserrat';
    font-weight: 400;
    text-align: center;
}
.dot{
    color: rgb(184, 157, 5);
    font-weight: 500;
}

@media  only screen and (max-width:900px) {
    .form{
        width: 70%;
        margin: auto;
        transition: all 300ms;
    }
}

@media  only screen and (max-width:700px) {
    .form{
        width: 85%;
        margin: auto;
        transition: all 300ms;
    }
}
@media  only screen and (max-width:500px) {
    .form{
        width: 90%;
        margin: auto;
        transition: all 300ms;
    }
}