
.copyright{
    color: #fefefe;
    font-size: 14px;
    font-family: 'montserrat';
    font-weight: 400;
}
.dot{
    color: rgb(184, 157, 5);
    font-weight: 500;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    padding: 20px;
}

/* @media screen and (max-width:600px) {
    .online .h2-portal{
        font-size: 18px;
    }
} */